#keyboard{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 190px;
	width: 180px;	
	border-width: 2px;
	border-style: solid;
	border-color: dimgray;
}
.botton{
	border-width: 2px;
	border-style: solid;
	border-color: dimgray;
	text-align: center;
	width: 10px;
	height: 10px;
	margin: 2.5px;
	padding: 10px
}
.botton:hover{
	border-color: gray;
	background-color: lightgray;
}
